.centered.svelte-elypy{text-align:center}.larger.svelte-elypy{font-size:var(--font-sz-neptune)}h2.svelte-1lj0h7n{display:flex;align-items:center;gap:.25em}.smaller.svelte-1lj0h7n{font-size:var(--font-sz-venus)}
