---
title: Oak's Parcel One-Shot
---

<script lang="ts">
  import { onMount } from "svelte"
  import { InfoTable, Button } from "$lib/ui/elements"
  import { formatMoney } from "$lib/pokemon/money"
  import { OaksParcelEncounters, createEncounters } from "../encounters.svelte"
  import { CuratedEncounterInfo } from "$lib/poke5e/encounters"
  import { Heading } from "$lib/ui/elements"

  onMount(() => {
    return createEncounters()
  })
</script>

This is a **one-shot adventure** designed to be a good introduction to the Pokémon 5e system! As a DM, you can run this with your friends in order to get accustomed to the mechanics of the game.

<Heading level="2" id="adventure-overview">Adventure Overview</Heading>

The World of Pokémon is a dangerous place, full of wonderfully unique creatures and determined trainers who
raise them for battle or companionship.

Headquartered in his laboratory in Pallet Town, Professor Oak gets word that an important package has arrived for him in Veridian City. Much too busy with his own work, he seeks out the help of a few up-and-coming trainers to fetch it for him.

The road to Veridian is paved with difficulties, however. Strange beasts hide in the trees and the tall grass - and an evil lurks in the shadows, waiting for the right moment to reveal itself...

<Heading level="2" id="using-this-adventure">Using this Adventure</Heading>

The text below is meant to guide you through a single session of about four hours, introducing your players to the system through character creation, battles, and catching mechanics.

This one-shot adventure is written assuming a party of 3 - 4 players, but can handle more by simply increasing the number of Pokémon encountered in random encounter and trainer battle sessions, or by increasing the level of the same number of Pokémon in the text.

The majority of this guide will be an outline of the adventure, but occasionally there will be snippets of descriptions or encounters that you should read aloud.

> Important things to read aloud to your players will be in boxes like this one.

One of the main quests in this adventure will require the players to go out and catch a variety of different species of Pokémon. Players will roll on a random table (shown later) to determine which Pokémon they encounter. For organizational purposes, the stat blocks of each of these possible Pokémon are in the appendix at the end of this manual.

<Heading level="2" id="beginning-the-session">Beginning the session</Heading>

DMs should have the players create level 1 trainers without a Pokédex, selecting a Specialization and Starter Pokémon with a Nature of their choice. The Starters they can choose from include any Pokémon of Species Rating ½ or lower. The players will be given their Starter by Professor Oak, so should not be woven into any of the players backstories.

Encourage players to think up interesting characteristics of their trainers and how they may know each other.

<Heading level="2" id="chapter-1">Chapter 1: The Lab</Heading>

To begin the adventure, the trainers should receive some sort of notice from Professor Oak about the help he needs. This can take the form of a letter sent to the trainers, a flyer on a Pallet Town bulletin board, an overheard rumor, etc. Think about your players backstories and what would work best, but eventually they should all end up at Oak's Lab around the same time.

> The stone steps up to Oak's lab are steep and numerous. You lose count after 157, but as you catch your breath and finally reach the top, the open doors and constant hum of computers welcomes you inside.
> 
> Arranged on the walls on either side of you are cabinets full of beakers, test tubes, microscopes and other laboratory equipment, book cases full of thick encyclopedias, and huge consoles with black screens and flashing panels. Neatly arranged on the black and white tile floor are wide desks where Oak's assistants work diligently on science experiments, pour over the pages of large manuals, or mindlessly read text from the computer screens that you cannot comprehend.
> 
> On the far end of the lab, a tall, grey-haired man in a white coat studies over a table arranged with a collection of Pokéballs - the infamous Professor Oak.

<Heading level="3" id="roleplaying-professor-oak">Roleplaying Professor Oak</Heading>

Professor Oak is an eccentric man in his mid-50s who has dedicated his life to the study of Pokémon. He is very excited about the creatures and is eager to learn anything and everything he can about them. The Professor is extremely intelligent - so much so that his speech is often quick and full of big words that may go over the head of the trainers. Even so, he is kind-hearted and slow to anger, unless someone is interrupting his precious Soap Opera-watching time.

Oak thanks the trainers for being willing to help him, and offers them a ₱5,000 reward, with ₱500 up front for each of them.

**His request is two-fold:**

1. A very important package (A prototype for a brand new, state-of-the-art Pokédex) has arrived for him at the Pokémart in Veridian City, just a few miles north of Pallet Town. He needs them to retrieve it and bring it back to him, and he is much too busy with is work to go himself. As the world outside Pallet Town is a dangerous one, he is willing to let them borrow one of his own Pokémon to help them on their quest (the Starters the players have chosen).
2. He has heard rumors that many new Pokémon have been seen in the local area. He requests that each of them catch a Pokémon and bring it back so he can study it before releasing it back into the wild. An extra reward of ₱200 will be given for each Pokémon they catch.

Oak gives them each a Potion, ₱500 up front, and 5 Pokéballs and is eager for them to get out of town and start their adventure. He tells them to take the northern Route 1 to Veridian City, and that wild Pokémon can be found in the tall grass or in the trees off the path, so they should be careful to stay away from those areas if things get rough.

There is a Pokécenter in Pallet Town that they can always return to if their Pokémon faints, and another one once they reach Veridian City.

<Heading level="2" id="chapter-2">Chapter 2: Route 1</Heading>

Once the trainers have gotten acquainted with each other and their Starters, they should be ready to start their journey north through Route 1 to Veridian City.

> A long, winding dirt path stretches out before you, curving up and down along a series of rolling hills underneath a clear, sunny sky. The landscape is full of fields of tall grass, spotted with trees and the occasional thick patch of forest. In the distance, tall snow-capped peaks of a majestic mountain range loom on the horizon.
> 
> Flocks of winged Pokémon dart from tree to tree as the tall grass ebbs and flows with the movement of wind and the small creatures that play within.

This part of the adventure is set to have a very "open-world" feel to it. The trainers know they have been instructed to seek out and catch Pokémon, so encourage them to decide where they want to go first, and if they want to split up or stay together. They may soon find out that sticking together is the best course of action.

There are two main terrain types within which they can search for Pokémon on this route: Grass and Forest. Here we've provided a random encounter table to help manage possible encounters in either terrain type. You may choose to roll these yourself, or have the players roll them and record the result.

Stat blocks for the Pokémon within each encounter can be found in the Appendix. The DC to catch each of these Pokemon is 11 + Remaining HP/10 (rounded down), with the exception of Gastly whose DC is 14 + Remaining HP/10 (rounded down), and Beedrill, who is uncatchable at the trainer's current level.

<Heading level="3" id="grass">Grass</Heading>

<InfoTable label="Grass Encounters">
  <thead>
    <tr>
      <th>d100</th>
      <th>Encounter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="white-space: pre;">01 - 10</td>
      <td>A group of three Rattata pounce on the unsuspecting party from the grass.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">11 - 20</td>
      <td>A female and male Nidoran are in the middle of a stare-off, about to butt heads.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">21 - 30</td>
      <td>A Caterpie is being pulled in both directions by a Pidgey and Spearow.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">31 - 40</td>
      <td>The trainers stumble upon a small pond, where a pair of Polywag are sunbathing.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">41 - 50</td>
      <td>The trainers interrupt an Ekans about to make a meal out of a Sentret.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">51 - 60</td>
      <td>A pair of Zigzagoon ruffle through a bag dropped by a previous trainer. The bag contains a Revive.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">61 - 70</td>
      <td>Two holes are dug into the ground close by each other, a pair of Sandshrew sleeping inside.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">71 - 80</td>
      <td>The trainers stumble upon a creek, where they hear a Psyduck desperately trying to get a Krabby off its bill.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">81 - 90</td>
      <td>A male and female Pikachu play a game of tag amidst the grass.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">91 - 100</td>
      <td>A Growlithe and Vulpix are in intense battle, creating a clearing of charred leaves and smoldering grass.</td>
    </tr>
  </tbody>
</InfoTable>

<Heading level="3" id="forest">Forest</Heading>

<InfoTable label="Forest Encounters">
  <thead>
    <tr>
      <th>d100</th>
      <th>Encounter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="white-space: pre;">01 - 10</td>
      <td>The trainers stumble across a thick web where two Spinarak wait for prey.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">11 - 20</td>
      <td>Something shiny (Gold Nugget) is seen in the center of a wasps nest, currently occupied by an angry Beedrill.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">21 - 30</td>
      <td>A pair of Mankey chase each other amongst the trees above.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">31 - 40</td>
      <td>A pair of Bellsprout are increasingly frustrated at each other as they try to pull apart their tangled vines.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">41 - 50</td>
      <td>The trainers stumble across a creek where a hungry Hoothoot watches over a pair of Surskit skip along the surface.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">51 - 60</td>
      <td>The trainers nearly run into a pair of sleeping Slakoths that hang from a thick branch.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">61 - 70</td>
      <td>The trainers are attacked by three Nincada who leap from the trees.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">71 - 80</td>
      <td>The trainers stumble into a swampy bog, where two Paras attack the intruders.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">81 - 90</td>
      <td>The trainers come across an old, makeshift cemetery haunted by a single Gastly.</td>
    </tr>
    <tr>
      <td style="white-space: pre;">91 - 100</td>
      <td>A pair of Treecko watch the party pass by as they cling to the trees, waiting to strike.</td>
    </tr>
  </tbody>
</InfoTable>

<Heading level="3" id="chapter-3">Veridian City</Heading>

When the trainers have had several Pokémon encounters and are ready for a rest, **allow them to level all their Pokémon to level two**, and lead them forward into Veridian City.

> At long last, you've made it to Veridian City. The sun cast shadows off the old buildings and across the cobbled streets. You would guess by its position that it must be mid-afternoon. A wooden sign reading 'The City of Evergreen' points the way left and right to several locations of interest including a Pokécenter and Pokémart.
> 
> The city bustles with activity underneath the afternoon sun. Men and women work in their yards as children play with each other and their small Pokémon in the Town Square.

The people of Veridian are friendly and willing to strike up
conversation with the trainers as they enter. A few rumors can
be told from the mouths of children and adults alike, if the
players decide to make conversation with the locals.

- They say the S.S. Anne is back in service after a long hiatus. No one here can afford the ticket, however.
- There have been rumbles coming from the mountain to the north, but large boulders have fallen from the cliffs and block any passage through Veridian Forest. The townspeople are waiting for the National Guard to come clear them out.
- Legend has it that an incredibly rare bird has been seen entering and exiting Mount Moon at night. No one has any proof, but the Pokémon in that area have started acting strange.
- Rumors of Team Rocket's return have surfaced. People in Celadon city have reported an increasing number of missing Pokémon lately.

All in all, these rumors mean nothing, but may offer some interesting conversation for the party. Feel free to make up your own.

<Heading level="3" id="pokecenter">Pokécenter</Heading>

The Veridian City Pokémon Center is a great place for the trainers to visit after the long journey through Route 1, where they will surely want to heal their Pokémon. You should let them decide what to do naturally, but may want to encourage them to visit this place before the Pokémart (you will see why, shortly). Ways to do this include:

- Having them run into Nurse Joy as she returns from lunch
- Roleplaying their Pokémon feeling tired/injured/needing a break
- Describing it as a location they see right as they walk into the city

> A pair of glass doors slides open, welcoming you into the Pokémon Center. Behind a long counter stands a tall woman dressed in a pink apron, her name-tag reading "Joy". A large pink, egg-shaped Pokémon stands at her side, smiling from ear to ear.

Joy will heal the trainer's Pokémon free of charge, and as often as they like while they are in the city.

<Heading level="3" id="pokemart">Pokémart</Heading>

The Pokémart in Veridian City is where Trainers can purchase essential items for their adventures. When the trainer's enter the space for the first time, however, they witness a crime in progress.

> As the doors to the Pokémart open, you hear a struggle from inside. A man dressed in black wrestles something away from the shopkeeper and sprints out the back door with another woman, a plain Red "R" emblazoned on the back of their jackets.
> 
> The shopkeeper shouts out for help as you watch the two disappear. "Stop him! That's for Professor Oak!"

Giving chase, the trainers should catch up with the Team Rocket members in no time, as the back of the Pokémart is simply a long alley that ends in a tall wooden fence.

<Heading level="3" id="roleplaying-rocket-grunts">Roleplaying Rocket Grunts</Heading>

The Team Rocket Grunt male is a purple-haired man with a dimwitted personality while the woman is red-headed and easy-to-anger. They were sent to steal Professor Oak's parcel from the Pokémart, and are determined to get away with it for fear of what their boss, Giovani, will do to them if they return empty-handed. Giovani doesn't know what's in the parcel, but knows Professor Oak is a genius when it comes to Pokémon technology, so he is sure whatever the package is will help him with whatever evil plans he is concocting.


{#if OaksParcelEncounters.pending}
  <p>Waiting to fetch pokemon...</p>
{:else}
  <CuratedEncounterInfo value={OaksParcelEncounters.list.TeamRocketGrunts} />
{/if}

<Heading level="3" id="defeat-the-grunts">If the players defeat the grunts</Heading>

The Grunts drop the parcel and promise revenge before hopping over the fence and making their escape. As a reward for battling, **allow the players to level each of their Pokémon to level three**.

<Heading level="3" id="players-defeated">If the players are defeated</Heading>

The Grunts flee the scene with the parcel in hand. The shopkeeper runs out into the back alley with a sigh of relief, holding a package in his hands. The Grunts had stolen a decoy! As a reward for battling, **allow the players to level each of their Pokémon to level three**.

Team Rocket taken care of either way, the trainers are free to take a look at the Pokémart's wares. The shopkeeper is so thankful for their help, he actually gives them a discount! The following items can be purchased:

<InfoTable label="Items for Purchase">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Potion</td>
      <td>Restores 2d4 + 2 HP</td>
      <td>{formatMoney(100)}</td>
    </tr>
    <tr>
      <td>Pokéball</td>
      <td>Used to catch Pokémon</td>
      <td>{formatMoney(150)}</td>
    </tr>
    <tr>
      <td>Antidote</td>
      <td>Cures Poison</td>
      <td>{formatMoney(100)}</td>
    </tr>
    <tr>
      <td>Paralyze Heal</td>
      <td>Cures Paralysis</td>
      <td>{formatMoney(100)}</td>
    </tr>
    <tr>
      <td>Awakening</td>
      <td>Wakes from Sleep</td>
      <td>{formatMoney(100)}</td>
    </tr>
  </tbody>
</InfoTable>

<Heading level="2" id="chapter-4">Chapter 4: The Road Home</Heading>

By the time the trainers leave the Pokémart, its late afternoon. Make them aware that there is not much daylight left if they want to make it back to Pallet Town before nightfall. They will probably want to revisit the Pokécenter to heal up before heading back down Route 1.

Any other attempt to leave Veridian City other than through Route 1 should be met with "blockades": The boulders blocking the way to Veridian Forest, tall guarded walls leading to Indigo Plateau, closed businesses and gyms now that the day is late, etc.

The players, at some point, may wish to open Oak's Parcel to see what is inside. Inside is a prototype for a state-of-the-art Pokédex unlike any other. Ask for an Investigation check for anyone wishing to examine it. The Pokédex technology has been updated with the ability to recognize and categorize all Pokémon from the Johto and Hoenn regions, as opposed to just Kanto. It also now contains a receiver for video calls, and a direct connection to ones PC for easy access to Pokémon Storage System on the road without the need to visit a Pokécenter.

The road back should be quicker than the way in. If the players want to seek out more Pokémon in the forest or the grass, simply choose one of the scenarios from Chapter 2 that they did not encounter before.

<Heading level="2" id="chapter-5">Chapter 5: Oak in Trouble</Heading>

As the trainers return to Pallet Town, the sun has set.

> The remainder of your journey is uneventful as the sun sets over the hills of Route 1 and Pallet Town comes back into view. The street lamps are lit, and a cool breeze comes off the southern part of town, making its way through the slowly emptying streets.

If the players did some exploring on the way back, they may want to visit a Pokécenter. The Pokécenter in Veridian and Pallet Town are almost identical, with the same Nurse Joy and Chansey.

Soon enough they will want to head straight for Oak's Lab to deliver the Parcel.

> You make the grueling climb once again up to Professor Oak's lab, but upon attempting to open the large metal doors, you find them locked shut.

The doors are locked because Team Rocket is inside, holding Oak and all his assistants captive! It turns out the Grunts were either not a fan of losing the battle or not a fan of being duped by a fake package, depending on how the end of Chapter 3 went. The Grunts have returned with a vengeance, and they've got their boss with them.

The lock on the door to Professor Oak's lab can be picked with DC 18 Sleight of Hand check, but can only be attempted twice before breaking the lock. Any trainer with an active Pokémon proficient in the Sleight of Hand skill has advantage on the roll. Another option is to allow them to bust the door with a DC 20 Strength check, but that will instantly alert Team Rocket inside who will come to fight.

Professor Oak's lab has several large windows on all sides, 8 feet off the ground and 10 feet high. An open window can be found with a DC 14 Investigation check, but will require the trainers to come up with an interesting plan to get up to it, most likely requiring a DC 15 Acrobatics or Athletics check.

If they attempt to sneak their way in, no matter how they do it, the trainers spot several of Professor Oak's assistants tied up along the floor and chairs, with the same two Grunts from before frantically working on the computers on either side of the lab to try and find the prototype blueprints. At the far end, Professor Oak is in the clutches of a Nidoqueen, standing before a tall man in black with slicked back, black hair. The man is Giovanni.

Allow your players to get creative with how they handle the situation at hand, allowing them to attempt to knock out a trainer using stealth (Trainer laws are a little more lenient when going against evil teams), but ultimately when they are noticed, Giovanni will whip around and engage in battle with his Nidoqueen as the Grunts watch from the side. If the trainers did not defeat the Grunts earlier in the adventure, they may have remaining Pokémon to add to the mix...

{#if OaksParcelEncounters.pending}
  <p>Waiting to fetch pokemon...</p>
{:else}
  <CuratedEncounterInfo value={OaksParcelEncounters.list.Giovanni} />
{/if}

<Heading level="2" id="chapter-6">Chapter 6: Wrap up</Heading>

With Giovanni and the Rocket Grunts taking care of, they blast off and flee the scene, swearing revenge. Professor Oak dusts himself off and thanks the trainers for their help. He offers them the original reward for bringing back the prototype, but as an added bonus, allows them to keep their starting Pokémon and all others they caught along the way, as long as he can spend a few hours with them studying their habits and skills.

Oak promises them that once his prototype is completed and fully tested, he will have a copy for each of them. In the meantime, he gives them each an old, standard version of the Pokédex to bring on their adventures!
