---
title: Biomes and Habitats
---

<script lang="ts">
  import { InfoTable, Heading, ColumnedList, Details } from "$lib/ui/elements"
  import { Markdown } from "$lib/ui/rendering"
  import { Url } from "$lib/site/url"
  import type { PokemonSpecies } from "$lib/poke5e/species"
  import type { Biome, BiomeId } from "$lib/poke5e/habitat"

  let {
    biomes,
    pokemonByBiome,
  }: {
    biomes: Biome[],
    pokemonByBiome: Record<BiomeId, PokemonSpecies>,
  } = $props()
</script>

Biomes represent the kinds of environments in which Pokémon can be found. Pokémon stat blocks on this site feature biomes they can be found in! As a DM, this can be useful when building [encounters](/encounter-tool) when your players travel on routes. Or, as a player, the info might help find pokémon you are looking for.

All biome information comes from [The World of Pokémon](https://theworldofpokemon.com/) fansite. Big thank you to the work that they do!

<Heading level="2" id="list-of-biomes">List of Biomes</Heading>

This list of biomes and their descriptions come from [The World of Pokémon's habitat page](https://theworldofpokemon.com/HabitatPage.html).

<ColumnedList let:item columns={3} items={biomes}>
  <a href="#{item.id}">{item.name}</a>
</ColumnedList>

{#each biomes as biome}
  {@const pokemon = pokemonByBiome[biome.id] ?? []}
  <Heading level="3" id="{biome.id}">{biome.name}</Heading>
  <Markdown value={biome.description ?? ""} />
  {#if pokemon.length > 0}
    <Details title="{biome.name} Pokémon">
      <ColumnedList let:item columns={3} items={pokemon}>
        <a href="{Url.pokemon(item.id.data)}">{item.name}</a>
      </ColumnedList>
    </Details>
  {/if}
{/each}
