{"openapi":"3.1.0","info":{"title":"Pokémon 5e SRD","version":"1.0.0","description":"Reference data for the Pokémon 5e tabletop system, served as static JSON.","license":{"name":"See repository","url":"https://github.com/Auroratide/poke5e"}},"servers":[{"url":"https://poke5e.app"}],"security":[],"tags":[{"name":"abilities"},{"name":"biomes"},{"name":"contest-effects"},{"name":"evolutions"},{"name":"items"},{"name":"moves"},{"name":"pokemon"}],"paths":{"/srd/v1/{edition}/abilities.json":{"get":{"operationId":"listAbilities","summary":"Ability List","description":"Collection of abilities.","tags":["abilities"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"Collection of abilities.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/abilities/{id}.json":{"get":{"operationId":"getAbility","summary":"Ability","description":"A Pokémon ability as defined by the Pokémon 5e handbook.","tags":["abilities"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"A Pokémon ability as defined by the Pokémon 5e handbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ability"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/biomes.json":{"get":{"operationId":"listBiomes","summary":"Biome List","description":"","tags":["biomes"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiomeList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/biomes/{id}.json":{"get":{"operationId":"getBiome","summary":"Biome","description":"","tags":["biomes"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Biome"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/contest-effects.json":{"get":{"operationId":"listContestEffects","summary":"Contest Effect List","description":"","tags":["contest-effects"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContestEffectList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/contest-effects/{id}.json":{"get":{"operationId":"getContestEffect","summary":"Contest Effect","description":"","tags":["contest-effects"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContestEffect"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/evolutions.json":{"get":{"operationId":"listEvolutions","summary":"Evolution List","description":"","tags":["evolutions"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvolutionList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/evolutions/{id}.json":{"get":{"operationId":"getEvolution","summary":"Evolution","description":"","tags":["evolutions"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Evolution"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/items.json":{"get":{"operationId":"listItems","summary":"Item List","description":"","tags":["items"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/items/{id}.json":{"get":{"operationId":"getItem","summary":"Item","description":"","tags":["items"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/moves.json":{"get":{"operationId":"listMoves","summary":"Move List","description":"","tags":["moves"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/moves/{id}.json":{"get":{"operationId":"getMove","summary":"Move","description":"","tags":["moves"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Move"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/pokemon.json":{"get":{"operationId":"listPokemon","summary":"Pokemon List","description":"","tags":["pokemon"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PokemonList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/pokemon/{id}.json":{"get":{"operationId":"getPokemon","summary":"Pokemon","description":"","tags":["pokemon"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pokemon"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}}},"components":{"parameters":{"Edition":{"name":"edition","in":"path","required":true,"description":"Which ruleset the data should reflect.","schema":{"type":"string","enum":["2018","2024"]}},"Id":{"name":"id","in":"path","required":true,"description":"Kebab-case identifier of the entry, e.g. `air-lock`.","schema":{"type":"string"}}},"schemas":{"Attribute":{"anyOf":[{"type":"string","const":"str"},{"type":"string","const":"dex"},{"type":"string","const":"con"},{"type":"string","const":"int"},{"type":"string","const":"wis"},{"type":"string","const":"cha"}],"title":"Attribute"},"AttributeValues":{"type":"object","properties":{"str":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"dex":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"con":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"int":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"wis":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"cha":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["str","dex","con","int","wis","cha"],"additionalProperties":false,"title":"Attribute Values"},"CreatureSize":{"anyOf":[{"type":"string","const":"tiny"},{"type":"string","const":"small"},{"type":"string","const":"medium"},{"type":"string","const":"large"},{"type":"string","const":"huge"},{"type":"string","const":"gargantuan"}],"title":"Creature Size"},"HitDiceSize":{"anyOf":[{"type":"string","const":"d4"},{"type":"string","const":"d6"},{"type":"string","const":"d8"},{"type":"string","const":"d10"},{"type":"string","const":"d12"},{"type":"string","const":"d20"}],"title":"Hit Dice Size"},"PokeType":{"anyOf":[{"type":"string","const":"bug"},{"type":"string","const":"dark"},{"type":"string","const":"dragon"},{"type":"string","const":"electric"},{"type":"string","const":"fairy"},{"type":"string","const":"fighting"},{"type":"string","const":"fire"},{"type":"string","const":"flying"},{"type":"string","const":"ghost"},{"type":"string","const":"grass"},{"type":"string","const":"ground"},{"type":"string","const":"ice"},{"type":"string","const":"normal"},{"type":"string","const":"poison"},{"type":"string","const":"psychic"},{"type":"string","const":"rock"},{"type":"string","const":"steel"},{"type":"string","const":"water"}],"title":"Pokemon Type"},"SenseType":{"anyOf":[{"type":"string","const":"darkvision"},{"type":"string","const":"blindsight"},{"type":"string","const":"tremorsense"},{"type":"string","const":"truesight"}],"title":"Sense Type"},"Skill":{"anyOf":[{"type":"string","const":"athletics"},{"type":"string","const":"acrobatics"},{"type":"string","const":"sleight of hand"},{"type":"string","const":"stealth"},{"type":"string","const":"arcana"},{"type":"string","const":"history"},{"type":"string","const":"investigation"},{"type":"string","const":"nature"},{"type":"string","const":"religion"},{"type":"string","const":"animal handling"},{"type":"string","const":"insight"},{"type":"string","const":"medicine"},{"type":"string","const":"perception"},{"type":"string","const":"survival"},{"type":"string","const":"deception"},{"type":"string","const":"intimidation"},{"type":"string","const":"performance"},{"type":"string","const":"persuasion"}],"title":"Skill"},"SpeedType":{"anyOf":[{"type":"string","const":"walking"},{"type":"string","const":"climbing"},{"type":"string","const":"swimming"},{"type":"string","const":"flying"},{"type":"string","const":"hover"},{"type":"string","const":"burrowing"}],"title":"Speed Type"},"Ability":{"type":"object","properties":{"id":{"type":"string","description":"Kebab-case unique identifier."},"name":{"type":"string","description":"Display name, localized."},"aliases":{"description":"Alternative display names for searchability. Usually the English name for localized output.","type":"array","items":{"type":"string"}},"description":{"type":"string","description":"Rules text for the ability. Plain text with no markup."}},"required":["id","name","description"],"additionalProperties":false,"title":"Ability","description":"A Pokémon ability as defined by the Pokémon 5e handbook."},"AbilityList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Ability"},"description":"Every ability available in the requested edition, sorted by id."}},"required":["values"],"additionalProperties":false,"title":"Ability List","description":"Collection of abilities."},"Biome":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false,"title":"Biome"},"BiomeList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Biome"}}},"required":["values"],"additionalProperties":false,"title":"Biome List"},"ContestEffect":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"effect":{"type":"string"}},"required":["id","name","effect"],"additionalProperties":false,"title":"Contest Effect"},"ContestEffectList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/ContestEffect"}}},"required":["values"],"additionalProperties":false,"title":"Contest Effect List"},"Evolution":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"conditions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","value"],"additionalProperties":false}},"effects":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","value"],"additionalProperties":false}}},"required":["id","from","to","conditions","effects"],"additionalProperties":false,"title":"Evolution"},"EvolutionList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Evolution"}}},"required":["values"],"additionalProperties":false,"title":"Evolution List"},"Item":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"type":{"type":"string"},"cost":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"description":{"type":"array","items":{"type":"string"}},"media":{"type":"object","properties":{"sprite":{"type":"string"}},"required":["sprite"],"additionalProperties":false}},"required":["id","from","type","cost","description","media"],"additionalProperties":false,"title":"Item"},"ItemList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Item"}}},"required":["values"],"additionalProperties":false,"title":"Item List"},"Move":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/PokeType"},"power":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},{"type":"string"}]},"time":{"type":"string"},"pp":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"duration":{"type":"string"},"range":{"type":"string"},"description":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","properties":{"type":{"type":"string"},"headers":{"type":"array","items":{"type":"string"}},"rows":{"type":"array","items":{"type":"array","items":{"type":"string"}}}},"required":["type","headers","rows"],"additionalProperties":false}]}},"higherLevels":{"type":"string"},"optional":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","properties":{"type":{"type":"string"},"headers":{"type":"array","items":{"type":"string"}},"rows":{"type":"array","items":{"type":"array","items":{"type":"string"}}}},"required":["type","headers","rows"],"additionalProperties":false}]}},"damage":{"type":"object","properties":{"dice":{"type":"object","properties":{"1":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"string"}]},"5":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"string"}]},"10":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"string"}]},"17":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"string"}]}},"required":["1","5","10","17"],"additionalProperties":false},"modifier":{"anyOf":[{"type":"number"},{"type":"string"}]},"type":{"anyOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/PokeType"}}]}},"required":["dice","modifier","type"],"additionalProperties":false},"attack":{"type":"object","properties":{"scope":{"type":"string"}},"required":["scope"],"additionalProperties":false},"save":{"type":"object","properties":{"attribute":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"dc":{"type":"string"}},"required":["attribute","dc"],"additionalProperties":false},"tm":{"type":"object","properties":{"id":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"cost":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["id","cost"],"additionalProperties":false},"beta":{"type":"boolean"}},"required":["id","name","type","power","time","pp","duration","range","description"],"additionalProperties":false,"title":"Move"},"MoveList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Move"}}},"required":["values"],"additionalProperties":false,"title":"Move List"},"Pokemon":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"number":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"type":{"type":"array","items":{"$ref":"#/components/schemas/PokeType"}},"size":{"$ref":"#/components/schemas/CreatureSize"},"sr":{"type":"number"},"minLevel":{"type":"number"},"eggGroup":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"description":{"type":"string"},"ac":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"hp":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"hitDice":{"$ref":"#/components/schemas/HitDiceSize"},"speed":{"type":"array","items":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/SpeedType"},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["type","value"],"additionalProperties":false}},"attributes":{"$ref":"#/components/schemas/AttributeValues"},"skills":{"type":"array","items":{"$ref":"#/components/schemas/Skill"}},"savingThrows":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"senses":{"type":"array","items":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/SenseType"},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["type","value"],"additionalProperties":false}},"abilities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"hidden":{"type":"boolean"}},"required":["id","hidden"],"additionalProperties":false}},"moves":{"type":"object","properties":{"start":{"type":"array","items":{"type":"string"}},"level2":{"type":"array","items":{"type":"string"}},"level6":{"type":"array","items":{"type":"string"}},"level10":{"type":"array","items":{"type":"string"}},"level14":{"type":"array","items":{"type":"string"}},"level18":{"type":"array","items":{"type":"string"}},"tm":{"type":"array","items":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"egg":{"type":"array","items":{"type":"string"}}},"required":["start"],"additionalProperties":false},"media":{"type":"object","properties":{"main":{"type":"string"},"sprite":{"type":"string"},"mainShiny":{"type":"string"},"spriteShiny":{"type":"string"}},"required":["main","sprite","mainShiny","spriteShiny"],"additionalProperties":false},"habitat":{"type":"object","properties":{"biomes":{"type":"array","items":{"type":"string"}},"nativeRegion":{"type":"string"},"regions":{"type":"array","items":{"type":"string"}}},"required":["biomes","nativeRegion","regions"],"additionalProperties":false}},"required":["id","name","number","type","size","sr","minLevel","eggGroup","gender","description","ac","hp","hitDice","speed","attributes","skills","savingThrows","senses","abilities","moves","media","habitat"],"additionalProperties":false,"title":"Pokemon"},"PokemonList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Pokemon"}}},"required":["values"],"additionalProperties":false,"title":"Pokemon List"}}}}