{"openapi":"3.1.0","info":{"title":"Pokémon 5e SRD","version":"1.0.0","description":"Reference data for the Pokémon 5e tabletop system, served as static JSON.","license":{"name":"See repository","url":"https://github.com/Auroratide/poke5e"}},"servers":[{"url":"https://poke5e.app"}],"security":[],"tags":[{"name":"abilities"},{"name":"biomes"},{"name":"contest-effects"},{"name":"evolutions"},{"name":"items"},{"name":"moves"},{"name":"pokemon"}],"paths":{"/srd/v1/{edition}/abilities.json":{"get":{"operationId":"listAbilities","summary":"Ability List","description":"Collection of all abilities.","tags":["abilities"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"Collection of all abilities.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbilityList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/abilities/{id}.json":{"get":{"operationId":"getAbility","summary":"Ability","description":"A Pokémon ability as defined by the Pokémon 5e handbook.","tags":["abilities"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"A Pokémon ability as defined by the Pokémon 5e handbook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ability"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/biomes.json":{"get":{"operationId":"listBiomes","summary":"Biome List","description":"","tags":["biomes"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiomeList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/biomes/{id}.json":{"get":{"operationId":"getBiome","summary":"Biome","description":"","tags":["biomes"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Biome"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/contest-effects.json":{"get":{"operationId":"listContestEffects","summary":"Contest Effect List","description":"","tags":["contest-effects"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContestEffectList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/contest-effects/{id}.json":{"get":{"operationId":"getContestEffect","summary":"Contest Effect","description":"","tags":["contest-effects"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContestEffect"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/evolutions.json":{"get":{"operationId":"listEvolutions","summary":"Evolution List","description":"","tags":["evolutions"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvolutionList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/evolutions/{id}.json":{"get":{"operationId":"getEvolution","summary":"Evolution","description":"","tags":["evolutions"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Evolution"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/items.json":{"get":{"operationId":"listItems","summary":"Item List","description":"","tags":["items"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/items/{id}.json":{"get":{"operationId":"getItem","summary":"Item","description":"","tags":["items"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Item"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/moves.json":{"get":{"operationId":"listMoves","summary":"Move List","description":"Collection of all moves.","tags":["moves"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"Collection of all moves.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/moves/{id}.json":{"get":{"operationId":"getMove","summary":"Move","description":"A Move that a Pokémon can execute.","tags":["moves"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"A Move that a Pokémon can execute.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Move"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}},"/srd/v1/{edition}/pokemon.json":{"get":{"operationId":"listPokemon","summary":"Pokemon List","description":"","tags":["pokemon"],"parameters":[{"$ref":"#/components/parameters/Edition"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PokemonList"}}}},"404":{"description":"The requested edition does not exist."}}}},"/srd/v1/{edition}/pokemon/{id}.json":{"get":{"operationId":"getPokemon","summary":"Pokemon","description":"","tags":["pokemon"],"parameters":[{"$ref":"#/components/parameters/Edition"},{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pokemon"}}}},"404":{"description":"No entry with that id exists in the requested edition, or the edition does not exist."}}}}},"components":{"parameters":{"Edition":{"name":"edition","in":"path","required":true,"description":"Which ruleset the data should reflect.","schema":{"type":"string","enum":["2018","2024"]}},"Id":{"name":"id","in":"path","required":true,"description":"Kebab-case identifier of the entry, e.g. `air-lock`.","schema":{"type":"string"}}},"schemas":{"Attribute":{"anyOf":[{"type":"string","const":"str"},{"type":"string","const":"dex"},{"type":"string","const":"con"},{"type":"string","const":"int"},{"type":"string","const":"wis"},{"type":"string","const":"cha"}],"title":"Attribute"},"AttributeValues":{"type":"object","properties":{"str":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"dex":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"con":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"int":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"wis":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"cha":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["str","dex","con","int","wis","cha"],"additionalProperties":false,"title":"Attribute Values"},"CreatureSize":{"anyOf":[{"type":"string","const":"tiny"},{"type":"string","const":"small"},{"type":"string","const":"medium"},{"type":"string","const":"large"},{"type":"string","const":"huge"},{"type":"string","const":"gargantuan"}],"title":"Creature Size"},"HitDiceSize":{"anyOf":[{"type":"string","const":"d4"},{"type":"string","const":"d6"},{"type":"string","const":"d8"},{"type":"string","const":"d10"},{"type":"string","const":"d12"},{"type":"string","const":"d20"}],"title":"Hit Dice Size"},"PokeType":{"anyOf":[{"type":"string","const":"bug"},{"type":"string","const":"dark"},{"type":"string","const":"dragon"},{"type":"string","const":"electric"},{"type":"string","const":"fairy"},{"type":"string","const":"fighting"},{"type":"string","const":"fire"},{"type":"string","const":"flying"},{"type":"string","const":"ghost"},{"type":"string","const":"grass"},{"type":"string","const":"ground"},{"type":"string","const":"ice"},{"type":"string","const":"normal"},{"type":"string","const":"poison"},{"type":"string","const":"psychic"},{"type":"string","const":"rock"},{"type":"string","const":"steel"},{"type":"string","const":"water"}],"title":"Pokemon Type"},"SenseType":{"anyOf":[{"type":"string","const":"darkvision"},{"type":"string","const":"blindsight"},{"type":"string","const":"tremorsense"},{"type":"string","const":"truesight"}],"title":"Sense Type"},"Skill":{"anyOf":[{"type":"string","const":"athletics"},{"type":"string","const":"acrobatics"},{"type":"string","const":"sleight of hand"},{"type":"string","const":"stealth"},{"type":"string","const":"arcana"},{"type":"string","const":"history"},{"type":"string","const":"investigation"},{"type":"string","const":"nature"},{"type":"string","const":"religion"},{"type":"string","const":"animal handling"},{"type":"string","const":"insight"},{"type":"string","const":"medicine"},{"type":"string","const":"perception"},{"type":"string","const":"survival"},{"type":"string","const":"deception"},{"type":"string","const":"intimidation"},{"type":"string","const":"performance"},{"type":"string","const":"persuasion"}],"title":"Skill"},"SpeedType":{"anyOf":[{"type":"string","const":"walking"},{"type":"string","const":"climbing"},{"type":"string","const":"swimming"},{"type":"string","const":"flying"},{"type":"string","const":"hover"},{"type":"string","const":"burrowing"}],"title":"Speed Type"},"Ability":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier."},"name":{"type":"string","description":"Display name, localized."},"description":{"type":"string","description":"Rules text for the ability. Plain text with no markup."},"aliases":{"description":"Alternative display names for searching.\nUsually the English name for localized output.","type":"array","items":{"type":"string"}},"deprecated":{"description":"Ability is to no longer be used.","type":"boolean"}},"required":["id","name","description"],"additionalProperties":false,"title":"Ability","description":"A Pokémon ability as defined by the Pokémon 5e handbook."},"AbilityList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Ability"},"description":"Every ability, sorted by id."}},"required":["values"],"additionalProperties":false,"title":"Ability List","description":"Collection of all abilities."},"Biome":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false,"title":"Biome"},"BiomeList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Biome"}}},"required":["values"],"additionalProperties":false,"title":"Biome List"},"ContestEffect":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"effect":{"type":"string"}},"required":["id","name","effect"],"additionalProperties":false,"title":"Contest Effect"},"ContestEffectList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/ContestEffect"}}},"required":["values"],"additionalProperties":false,"title":"Contest Effect List"},"Evolution":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"conditions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","value"],"additionalProperties":false}},"effects":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","value"],"additionalProperties":false}},"nonCanon":{"type":"boolean"}},"required":["id","from","to","conditions","effects"],"additionalProperties":false,"title":"Evolution"},"EvolutionList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Evolution"}}},"required":["values"],"additionalProperties":false,"title":"Evolution List"},"Item":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"cost":{"anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"description":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"media":{"type":"object","properties":{"sprite":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["sprite"],"additionalProperties":false},"beta":{"type":"boolean"},"_ingameEffect":{"type":"string"}},"required":["id","name","type","cost","description","media"],"additionalProperties":false,"title":"Item"},"ItemList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Item"}}},"required":["values"],"additionalProperties":false,"title":"Item List"},"Move":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier."},"name":{"type":"string","description":"Display name, localized."},"type":{"anyOf":[{"$ref":"#/components/schemas/PokeType"},{"type":"string","const":"varies"},{"type":"string","const":"typeless"},{"type":"string","const":"stellar"}],"description":"Pokemon type of the move."},"power":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},{"type":"string","const":"varies"}],"description":"List of attributes used as this move's move power.\nA value of \"varies\" means the move power depends\n on a condition in the description."},"time":{"type":"object","properties":{"unit":{"anyOf":[{"type":"string","const":"action"},{"type":"string","const":"bonus action"},{"type":"string","const":"reaction"}]}},"required":["unit"],"additionalProperties":false,"description":"In-game time required to execute the move."},"pp":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Base max Power Points."},"duration":{"type":"object","properties":{"unit":{"anyOf":[{"type":"string","const":"minute"},{"type":"string","const":"round"},{"type":"string","const":"instantaneous"}]},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"concentration":{"type":"boolean"}},"required":["unit"],"additionalProperties":false,"description":"Length of time the move lasts, including whether\nthe move is concentration."},"range":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"distance"},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"unit":{"type":"string","const":"feet"}},"required":["type","value","unit"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","const":"melee"},"reach":{"type":"object","properties":{"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"unit":{"type":"string","const":"feet"}},"required":["value","unit"],"additionalProperties":false}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","const":"self"}},"required":["type"],"additionalProperties":false}],"description":"Range of the move. If the move is a self area\nof effect move, the area of effect is described\nby `shape`."},"shape":{"description":"Defined when the move has an Area of Effect component,\ndescribing its shape.","type":"object","properties":{"type":{"anyOf":[{"type":"string","const":"line"},{"type":"string","const":"cone"},{"type":"string","const":"emanation"},{"type":"string","const":"cube"}]},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"unit":{"type":"string","const":"feet"}},"required":["type","value","unit"],"additionalProperties":false},"dice":{"description":"Dice used for this move, whether for damage or healing.\nThe `class` field determines which set of dice\nto use.","anyOf":[{"type":"object","properties":{"class":{"anyOf":[{"type":"string","const":"0"},{"type":"string","const":"10"},{"type":"string","const":"20"},{"type":"string","const":"30"},{"type":"string","const":"40"},{"type":"string","const":"50"},{"type":"string","const":"60"},{"type":"string","const":"70"},{"type":"string","const":"80"},{"type":"string","const":"90"},{"type":"string","const":"100"},{"type":"string","const":"110"},{"type":"string","const":"120"},{"type":"string","const":"130"},{"type":"string","const":"140"},{"type":"string","const":"150"},{"type":"string","const":"160"},{"type":"string","const":"180"},{"type":"string","const":"200"}]},"modifier":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"damage"},{"type":"string","const":"healing"}]}},"required":["class","modifier","type"],"additionalProperties":false},{"type":"object","properties":{"class":{"type":"string","const":"custom"},"tiers":{"type":"array","prefixItems":[{"type":"string"},{"type":"string"},{"type":"string"},{"type":"string"}]},"modifier":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"damage"},{"type":"string","const":"healing"}]}},"required":["class","tiers","modifier","type"],"additionalProperties":false}]},"attack":{"description":"Present if the move has an attack roll.","type":"object","properties":{"scope":{"type":"string"}},"required":["scope"],"additionalProperties":false},"save":{"description":"Present if the move has save.","type":"object","properties":{"attribute":{"$ref":"#/components/schemas/Attribute"}},"required":["attribute"],"additionalProperties":false},"tm":{"description":"Present if the move is available as a TM.","type":"object","properties":{"id":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"cost":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["id","cost"],"additionalProperties":false},"description":{"type":"string","description":"Rules text for the move, as markdown.\nSpecial text describes substitutions:\n{dice}: Damage dice depending on class.\n{type}: The move's type."},"higherLevels":{"description":"Used for custom text describing how the move upgrades\nwith level up. For moves with damage dice, the higher\nlevels text can be derived, and thus is not present.","type":"string"},"table":{"description":"Present if the move has a reference table.","type":"object","properties":{"type":{"type":"string"},"headers":{"type":"array","items":{"type":"string"}},"rows":{"type":"array","items":{"type":"array","items":{"type":"string"}}}},"required":["type","headers","rows"],"additionalProperties":false},"categories":{"type":"array","items":{"type":"string"},"description":"Tags used by other moves or abilities to select this move."},"aliases":{"description":"Alternative display names for searching.\nUsually the English name for localized output.","type":"array","items":{"type":"string"}},"beta":{"description":"Present if the move is being playtested.","type":"boolean"}},"required":["id","name","type","power","time","pp","duration","range","description","categories"],"additionalProperties":false,"title":"Move","description":"A Move that a Pokémon can execute."},"MoveList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Move"}}},"required":["values"],"additionalProperties":false,"title":"Move List","description":"Collection of all moves."},"Pokemon":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"number":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"type":{"type":"array","items":{"$ref":"#/components/schemas/PokeType"}},"size":{"anyOf":[{"$ref":"#/components/schemas/CreatureSize"},{"type":"string","const":"varies"}]},"sr":{"type":"number"},"minLevel":{"type":"number"},"eggGroup":{"type":"array","items":{"type":"string"}},"gender":{"type":"string"},"description":{"type":"string"},"ac":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"hp":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"hitDice":{"$ref":"#/components/schemas/HitDiceSize"},"speed":{"type":"array","items":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/SpeedType"},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["type","value"],"additionalProperties":false}},"attributes":{"$ref":"#/components/schemas/AttributeValues"},"skills":{"type":"array","items":{"$ref":"#/components/schemas/Skill"}},"savingThrows":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}},"senses":{"type":"array","items":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/SenseType"},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["type","value"],"additionalProperties":false}},"abilities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"hidden":{"type":"boolean"}},"required":["id","hidden"],"additionalProperties":false}},"specialAbilityText":{"type":"string"},"forms":{"type":"object","properties":{"description":{"type":"string"}},"required":["description"],"additionalProperties":false},"moves":{"type":"object","properties":{"start":{"type":"array","items":{"type":"string"}},"level2":{"type":"array","items":{"type":"string"}},"level6":{"type":"array","items":{"type":"string"}},"level10":{"type":"array","items":{"type":"string"}},"level14":{"type":"array","items":{"type":"string"}},"level18":{"type":"array","items":{"type":"string"}},"tm":{"type":"array","items":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"egg":{"type":"array","items":{"type":"string"}}},"required":["start"],"additionalProperties":false},"media":{"type":"object","properties":{"main":{"type":"string"},"sprite":{"type":"string"},"mainShiny":{"type":"string"},"spriteShiny":{"type":"string"},"mainF":{"type":"string"},"spriteF":{"type":"string"},"mainShinyF":{"type":"string"},"spriteShinyF":{"type":"string"},"attribution":{"type":"string"}},"required":["main"],"additionalProperties":false},"habitat":{"type":"object","properties":{"biomes":{"type":"array","items":{"type":"string"}},"nativeRegion":{"type":"string"},"regions":{"type":"array","items":{"type":"string"}}},"required":["biomes","nativeRegion","regions"],"additionalProperties":false},"unofficial":{"type":"boolean"}},"required":["id","name","number","type","size","sr","minLevel","eggGroup","gender","description","ac","hp","hitDice","speed","attributes","skills","savingThrows","senses","abilities","moves","media","habitat"],"additionalProperties":false,"title":"Pokemon"},"PokemonList":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Pokemon"}}},"required":["values"],"additionalProperties":false,"title":"Pokemon List"}}}}