:root {
    --container-width: 75rem;

    --font-reg: 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-sz-base: clamp(1rem, 1.5vw, 1.125rem);
    --font-sz-mars: 0.75em;
    --font-sz-venus: 0.875em;
    --font-sz-earth: 1em;
    --font-sz-neptune: 1.25em;
    --font-sz-uranus: 1.5em;
    --font-sz-jupiter: 3em;

    --elev-stratus: 0 0.15em 0.15em -0.1em rgba(0, 0, 0, 0.5);
    --elev-cumulus: 0 0.20em 0.25em rgba(0, 0, 0, 0.15);
    --elev-cirrus: 0 0.25em 0.75em rgba(0, 0, 0, 0.15);

    --skew-angle: -25deg;
    --skew-undo: 25deg;

    --skin-bg: hsl(0, 0%, 20%);
    --skin-bg-text: hsl(0, 0%, 100%);
    --skin-bg-dark: hsl(251, 13%, 17%);
    --skin-bg-softtext: hsla(0, 0%, 100%, 0.667);

    --skin-content: hsl(0, 0%, 100%);
    --skin-content-text: hsl(0, 0%, 20%);

    --skin-input-bg: hsl(0, 0%, 90%);

    --skin-footer: hsl(0, 0%, 0%);
    --skin-footer-text: hsl(0, 0%, 100%);

    --skin-normal-bg: hsl(60, 26%, 46%);
    --skin-fighting-bg: hsl(3, 66%, 45%);
    --skin-flying-bg: hsl(255, 76%, 70%);
    --skin-poison-bg: hsl(300, 43%, 44%);
    --skin-ground-bg: hsl(44, 58%, 43%);
    --skin-rock-bg: hsl(49, 58%, 41%);
    --skin-bug-bg: hsl(66, 72%, 35%);
    --skin-ghost-bg: hsl(263, 27%, 47%);
    --skin-steel-bg: hsl(240, 15%, 61%);
    --skin-fire-bg: hsl(25, 84%, 50%);
    --skin-water-bg: hsl(222, 82%, 65%);
    --skin-grass-bg: hsl(100, 50%, 41%);
    --skin-electric-bg: hsl(48, 100%, 35%);
    --skin-psychic-bg: hsl(342, 70%, 60%);
    --skin-ice-bg: hsl(180, 50%, 42%);
    --skin-dragon-bg: hsl(258, 85%, 60%);
    --skin-dark-bg: hsl(24, 22%, 36%);
    --skin-fairy-bg: hsl(347, 50%, 63%);
    --skin-typeless-bg: hsl(0, 0%, 40%);
    --skin-varies-bg: hsl(0, 0%, 40%);

    --skin-male-bg: hsl(227, 86%, 48%);
    --skin-female-bg: hsl(354, 99%, 41%);
    --skin-agender-bg: hsl(0, 0%, 33%);
    --skin-gender-text: hsl(0, 0%, 100%);

    --skin-bar-bg: hsl(330, 1%, 38%);
    --skin-bar-fill: hsl(119, 100%, 52%);
    --skin-bar-secondary: hsl(197, 91%, 64%);
}

.theme-blue {
    --theme-main: hsl(180, 57%, 48%);
    --theme-dark: hsl(178, 55%, 43%);
    --theme-text: hsl(176, 60%, 32%);
    --theme-light: hsl(180, 57%, 58%);
}

.theme-red {
    --theme-main: hsl(355, 72%, 53%);
    --theme-dark: hsl(355, 66%, 45%);
    --theme-text: hsl(355, 66%, 45%);
    --theme-light: hsl(355, 90%, 67%);
}

.theme-purple {
    --theme-main: hsl(248, 100%, 83%);
    --theme-dark: hsl(249, 100%, 79%);
    --theme-text: hsl(249, 50%, 57%);
    --theme-light: hsl(248, 100%, 83%);
}

body {
    font-family: var(--font-reg);
    font-size: var(--font-sz-base);
    background-image:
        radial-gradient(circle at 5vw 70vh, hsla(321, 86%, 91%, 0.5), hsla(321, 86%, 91%, 0) 67%),
        radial-gradient(circle at 50vw 5vh, hsla(120, 50%, 75%, 0.25), hsla(120, 50%, 75%, 0) 67%),
        radial-gradient(circle at 80vw 95vh, hsla(45, 80%, 65%, 0.25), hsla(45, 50%, 65%, 0) 67%);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

a {
    color: var(--theme-text);
}

a:hover {
    text-decoration: none;
}
