name: Smoke Test
on:
  workflow_dispatch:
  workflow_call:

jobs:
  smoke-test:
    name: Smoke Test
    runs-on: ubuntu-22.04 # See: https://github.com/puppeteer/puppeteer/issues/12818
    timeout-minutes: 10
    env:
      ENV: prod
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm test:smoke
        id: tests

      - name: Upload screenshots on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: test/smoke/screenshots
